body {
    background-color: #222 !important;
}

.slide-layout {
  display: grid !important;
  grid-template-rows: minmax(0, 15%) 1fr auto !important;
  height: 100% !important;
  align-items: stretch !important;
  justify-content: stretch !important;
  box-sizing: border-box !important;
}


/* ----------------- Slide header ----------------- */
.slide-header {
  text-align: center;
  padding: 0em;
  max-height: 100% !important;
  border: 1px solid #222;

}
.slide-header p {
  margin: 0em !important;
  padding: 0em !important;
}
.slide-header .title {
  margin: 0em;
  font-size: 1.4em;
  color: #478784;
}
.slide-header .subtitle {
  margin: 0.2em 0 0;
  font-size: 0.4em;
  font-weight: 300;
  color: #666;
}

/* ----------------- Slide main ----------------- */

.slide-main {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #222;
  max-height: 100% !important;
  padding: 10px;
  min-height: 0;
  font-size: 0.6em;
  padding: 80px;
}


/* Slide main - one column */

.slide-main.one-column {
  flex-direction: column;
}

/* Slide main - two column */

.slide-main.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  align-items: start;
}

/* Slide main - 2 columns above 1 bellow */

.slide-main.two-above-one-below {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1em;
  width: 100%;
  height: 100%;
}

.slide-main.two-above-one-below .top-left {
  grid-column: 1;
  grid-row: 1;
}

.slide-main.two-above-one-below .top-right {
  grid-column: 2;
  grid-row: 1;
}

.slide-main.two-above-one-below .bottom {
  grid-column: 1 / 3;
  grid-row: 2;
}

/* Slide main - Images */

.slide-main img {
  max-width: 90%;
  max-height: 90% !important;
  height: auto;
  object-fit: contain;
  display: block;
  margin: auto;
}

/* ----------------- Slide footer ----------------- */
.slide-footer {
  text-align: right;
  font-size: 0.6em;
  color: #888;
  border: 1px solid #222;
  padding: 0em !important;
  margin: 0em !important;
  max-height: 100% !important;
  line-height: 0.6;
}

/* ----------------- Backgrounds ----------------- */

.white-background {
  background: linear-gradient(to right, #FFFFFF 0px, white 70px, white 100%);
}

.red-background {
  background: linear-gradient(to right, #F28C8C 0px, white 70px, white 100%);
}

.orange-background {
  background: linear-gradient(to right, #F6A66A 0px, white 70px, white 100%);
}

.yellow-background {
  background: linear-gradient(to right, #F5D97D 0px, white 70px, white 100%);
}

.green-background {
  background: linear-gradient(to right, #90D890 0px, white 70px, white 100%);
}

.teal-background {
  background: linear-gradient(to right, #8AD8D1 0px, white 70px, white 100%);
}

.blue-background {
  background: linear-gradient(to right, #8CAEF2 0px, white 70px, white 100%);
}

.indigo-background {
  background: linear-gradient(to right, #A293F0 0px, white 70px, white 100%);
}

.purple-background {
  background: linear-gradient(to right, #D6A2E8 0px, white 70px, white 100%);
}
