.reveal .slides h1 {
    color: #264653;
}

.default-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 0em 0em;
  text-align: center;
}

.default-slide .slide-title {
  font-size: 2.5em;
  margin: 0em 0 0em;
  color: #264653;
}

.default-slide .slide-subtitle {
  font-size: 0.5em;
  margin: 0em 0 0em;
  padding: 0em;
  color: #2a9d8f;
}

.default-slide .slide-content {
  flex: 1; /* take remaining vertical space */
  display: flex;
  align-items: center;  /* vertically center content */
  justify-content: center; /* horizontally center content */
  font-size: 1.2em;
}

.author-name {
    font-size: 0.5em;
    margin: 0.2em 0 0em;
}